
  <div class="grid"  *ngFor="let recipe of recipes">
        <div class="col-12 xl:col-6">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="text-900 font-medium text-xl">{{ recipe.title }}</span>
                        <img src="{{recipe.image}}" class="shadow-4" width="50">
                        <div class="block text-500 font-medium mb-3">{{ recipe.description }}</div>
                    </div>

                </div>
                <span class="text-500"><button (click)="viewdetails(recipe)"  pButton pRipple>See more</button></span>
            </div>
        </div>
    </div>


