<div class="grid">
    <div class="col-12 md:col-8">
        <div class="grid">
            <div class="col-12 md:col-6" *ngFor="let recipe of recipes">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="text-900 font-medium text-xl">{{ recipe.title }}</span>
                            <img src="{{recipe.image}}" class="shadow-4" width="50">
                            <div class="block text-500 font-medium mb-3">{{ recipe.description.slice(0,150) }}</div>
                        </div>
                    </div>
                    <p-rating [ngModel]="recipe.totalRating" [readonly]="true" [cancel]="false"
                        styleClass="mb-2"></p-rating>
                    <span class="text-500" style="float: right;" ><button (click)="viewdetails(recipe)" pButton pRipple>See more</button></span>
                </div>
            </div>
        </div>
    </div>
    <div style="height:fit-content"class="col-12 md:col-4  card">
        <div class="p-inputgroup">
            <input type="text" pinputtext="" placeholder="Find Your Ingredient" class="p-inputtext p-component p-element"
                (keyup.enter)="addSearchTerm($event.target.value)">
        </div>
        <label class="block text-900 font-medium text-xl my-4">Suggested Ingredients</label>
        <div style="min-height: 300px; overflow-y: auto;" class="p-3">
            <div class="flex flex-wrap gap-2 " *ngFor="let item of filteredIngredient">
                <div class="grid align-items-center mb-2">
                    <p-checkbox class="col-1" [(ngModel)]="item.check" [binary]="true" inputId="binary"></p-checkbox>
                    <span class="col-8">{{item.title}}</span>
                </div>
            </div>
            <button type="button" pbutton="" pripple="" label="Search" class="p-element p-button p-component"
                ng-reflect-label="Search" (click)="addCheckbox()">
                <span class="p-button-label">Add</span>
            </button>
        </div>

        <div *ngIf="searchTerms">
            <div *ngFor="let term of searchTerms">
                <button pbutton="" pripple="" type="button" label="Info"
                    class="p-element p-ripple p-button-rounded p-button-info p-button p-component"
                    ng-reflect-label="Info"><span class="p-button-label">{{term}}</span><span class="p-ink"></span>
                </button>
                <button pbutton="" pripple="" type="button" icon="pi pi-times"
                    class="p-element p-ripple p-button-rounded p-button-danger p-button-text p-button p-component p-button-icon-only"
                    ng-reflect-icon="pi pi-times"><span class="p-button-icon pi pi-times" aria-hidden="true"
                        (click)="deleteSearchTerm(term)"></span><span class="p-ink"></span>
                </button>
            </div>
        </div>
    </div>
</div>
