<div class="col-12 md:col-12">
    <div class="grid">
        <div class="col-6 mb-2 lg:col-3 lg:mb-0"><span class="p-input-icon-left"><input type="text" pinputtext=""
                    placeholder="Search" class="p-inputtext p-component p-element"
                    (keyup.enter)="searchRecipes($event.target.value)"><i class="pi pi-search"></i></span></div>

        <div class="col-12 md:col-3">
            <p-autoComplete [(ngModel)]="value" [style]="{'width':'200px'}" (keyup.enter)="addSearchTerm(value)"
                [suggestions]="filteredIngredient" (completeMethod)="searchIngredient()" [dropdown]="true"
                placeholder="Ingredients">
            </p-autoComplete>

        </div>
        <div class="col-12 md:col-4" style="align-self: end;">
            <div *ngIf="searchTerms" class="grid">
                <div *ngFor="let term of searchTerms">
                    <button pbutton="" pripple="" type="button" label="Info"
                        class="p-element p-ripple p-button-rounded p-button-info p-button p-component"
                        ng-reflect-label="Info"><span class="p-button-label">{{term}}</span><span class="p-ink"></span>
                    </button>
                    <button pbutton="" pripple="" type="button" icon="pi pi-times"
                        class="p-element p-ripple p-button-rounded p-button-danger p-button-text p-button p-component p-button-icon-only"
                        ng-reflect-icon="pi pi-times"><span class="p-button-icon pi pi-times" aria-hidden="true"
                            (click)="deleteSearchTerm(term)"></span><span class="p-ink"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 md:col-12">

    <div class="grid">
        <div class="col-12 md:col-6 lg:col-4 mt-3" [style]="{ 'height': '575px' }" *ngFor="let recipe of recipes | slice:(first):(first+rows)">
            <div class="card mb-0 ">
                <div class="flex align-items-center justify-content-center mb-2">
                     <img class="align-self-center" [style]="{ 'height': '300px','width':'300px', 'border-radius':'10px','object-fit':'cover' ,'max-width':'100%'}"
                        [src]="recipe.imageFile" alt="recipe image" class="card-img-top">
                </div>
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="text-900 font-medium text-xl">{{ recipe.title }}</span>
                        <div class="block text-500 font-medium mb-3">{{ recipe.description.slice(0,150) }}</div>
                    </div>
                    <div *ngIf="userId != -1">
                    <button *ngIf="recipe.favourited" (click)="deleteFavourite(recipe)" pbutton=""
                        pripple="" type="button" icon="pi pi-heart-fill"
                        style="font-size: 50rem ;color : rgb(201,16,16); width:60px"
                        class="p-element p-ripple p-button-rounded p-button-help p-button-text p-button p-component p-button-icon-only"
                        ng-reflect-icon="pi pi-heart-fill">
                        <span class="p-button-icon pi pi-heart-fill" aria-hidden="true"></span><span
                            class="p-ink"></span></button>

                    <button *ngIf="!recipe.favourited" (click)="postFavourite(recipe)" pbutton=""
                        pripple="" type="button" icon="pi pi-heart" style="font-size: 50rem ;color : rgb(201,16,16);width:60px;"
                        class="p-element p-ripple p-button-rounded p-button-help p-button-text p-button p-component p-button-icon-only"
                        ng-reflect-icon="pi pi-heart">
                        <span class="p-button-icon pi pi-heart" aria-hidden="true"></span><span
                            class="p-ink"></span></button>
                        </div>
                </div>
                <div class="flex align-items-center justify-content-between">
                <p-rating [ngModel]="recipe.totalRating" [readonly]="true" [cancel]="false"
                    styleClass="mb-2"></p-rating>
                <span class="text-500" style="float: right;"><button (click)="viewdetails(recipe)" pButton
                        pRipple>See more</button></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card flex justify-content-center mt-3">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="recipes.length" ></p-paginator>
</div>
</div>
