<div>
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <h4>{{recipe?.title}}</h4>
                <p>{{recipe?.description}}</p>
                <p>Steps:</p>
                <ul>
                    {{recipe?.steps}}
                </ul>
                <p>Category: {{recipe?.category}}</p>
                <p>Total rating: {{recipe?.totalRating}}</p>
                <img src="{{recipe?.image}}" alt="Chicken Curry">
                </div>
        </div>
    </div>
</div>

