<div class="hero grid flex align-items-center justify-content-center ">
    <form  [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="flex align-items-center justify-content-center">
      <div class="p-fluid">
                <div class="flex flex-column gap-2 mb-3">
                    <label htmlFor="username">Username</label>
                    <input formControlName="userName" pInputText id="username" aria-describedby="username-help" [(ngModel)]="user.username"/>
                </div>
                <div class="flex flex-column gap-2 mb-3">
                    <label htmlFor="password">Password</label>
                    <input formControlName="password" pInputText id="password" type="password" [(ngModel)]="user.password"/>
                </div>
                <div class="flex flex-column gap-2 mb-3">
                    <label htmlFor="confirmPassword">Confirm Password</label>
                    <input  formControlName="confirmPassword" pInputText id="confirmPassword" type="password" [(ngModel)]="confirmPassword" />
                </div>
              <p-button label="Submit"  type="Submit" styleClass="p-button-success"> </p-button>
      </div>
    </form>
  </div>
