<p-panel header="Registration Form">
    <form (ngSubmit)="onSubmit()" class="p-grid p-fluid">
      <div class="p-col-12">
        <label for="username">Username</label>
        <input id="username" type="text" pInputText [(ngModel)]="username" name="username" />
      </div>
      <div class="p-col-12">
        <label for="email">Email</label>
        <input id="email" type="email" pInputText [(ngModel)]="email" name="email" />
      </div>
      <div class="p-col-12">
        <label for="password">Password</label>
        <input id="password" type="password" pPassword [(ngModel)]="password" name="password" />
      </div>
      <div class="p-col-12">
        <label for="confirmPassword">Confirm Password</label>
        <input
          id="confirmPassword"
          type="password"
          pPassword
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
        />
      </div>
      <div class="p-col-12">
        <button type="submit" pButton label="Register"> SUBMIT </button>
      </div>
    </form>
  </p-panel>
