/* registration.component.css */

.hero{
  height: 100vh;
  margin: 0px;
  background: linear-gradient(rgba(15,23,43,.9),rgba(15,23,43,.9)),url(../../../assets/images/bg-hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

input{
  padding: 8px;
  font-weight: bold;
  width: 300px;
  height: 36px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
input:hover{
  outline: none;
}
label{
  font-weight: bold;
}
.ng-invalid.ng-touched {
  border-color: red;
}
