<div class="hero grid flex align-items-center justify-content-center ">
    <form  [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="col-6 flex align-items-center justify-content-center">
      <div class=" p-fluid">
                <div class="flex flex-column gap-2 mb-3">
                    <label htmlFor="username">Username</label>
                    <input formControlName="userName" pInputText id="username" aria-describedby="username-help" [(ngModel)]="user.username"/>
                </div>
                <div class="flex flex-column gap-2 mb-3">
                    <label htmlFor="password">Password</label>
                    <input formControlName="password" pInputText id="password" type="password" [(ngModel)]="user.password"/>
                </div>
                <div class="flex flex-column gap-2 mb-3">
                    <label htmlFor="confirmPassword">Confirm Password</label>
                    <input  formControlName="confirmPassword" pInputText id="confirmPassword" type="password" [(ngModel)]="confirmPassword" />
                </div>
                <div class="flex gap-2">
                  <p-button label="Submit"  type="Submit" styleClass="p-button-success"> </p-button>
                  <p-button label="Login"  icon="pi pi-user-plus" routerLink="/login"></p-button>
                </div>

      </div>
    </form>
    <div class="image col-6 text-center small-screen">
        </div>
  </div>
