<p-button label="Add Recipe Plan" (click)="openRecipeDialog()"></p-button>
<p-toast position="top-right"></p-toast>

<p-dialog header="Select a Recipe" [(visible)]="displayRecipeDialog" [modal]="true" [responsive]="true"
    [style]="{ 'max-width': '80vw', 'width': '30%' ,'max-height': '80vw', 'height': '70%' }">
    <div *ngIf="!userSelectedDate" style="margin-bottom: 50px;">
        <div><label for="datePicker">Select a date:</label></div>
        <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="selectedDate"></p-calendar>
    </div>
    <div class="recipe-dropdown">

        <div><label for="recipeSelect">Select a recipe:</label></div>
        <p-autoComplete id="recipeAutoComplete" [(ngModel)]="selectedRecipe" [suggestions]="recipes"
            (completeMethod)="filterRecipes($event)" field="title" [dropdown]="true"></p-autoComplete>

    </div>
    <p-button (click)="onRecipeSelected()" style="position: absolute; bottom: 20px; right: 20px;">OK</p-button>

</p-dialog>

<p-dialog header="Select New Date" [(visible)]="displayEditdate" [modal]="true" [responsive]="true"
    [style]="{ 'max-width': '80vw', 'width': '30%' ,'max-height': '80vw', 'height': '70%' }">
    <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="newSelectedDate"></p-calendar>

    <p-button (click)="onEditing()" style="position: absolute; bottom: 20px; right: 20px;">OK</p-button>
</p-dialog>

<div >
    <p-dialog  header="Select Option" [(visible)]="displayeditdeleteDialog" [modal]="true" [responsive]="true"
        [style]="{ 'width': '500px' , 'height': '200px' }">
       <div class="flex align-items-center justify-content-center flex-wrap " style="height:100%;">
            <button pButton pRipple label="Edit"
                [style]="{ 'height': '40px','width':'100px' }" icon="pi pi-cog"
                class="p-button-success mr-2" (click)="onClick()"></button>
                    <button pButton pRipple label="Add to Shopping" [style]="{ 'height': '45px','width':'200px' }"
                        icon="pi pi-shopping-bag" class="p-button-warning mr-2" (click)="addShopping()"></button>
                    <button type="text" (click)="confirm1()" pButton icon="pi pi-trash" label="Delete"
                        class="p-button-danger" style="width:auto;"></button>
</div>
    </p-dialog>

</div>
            <p-confirmDialog header="Confirmation" key="confirm1" icon="pi pi-exclamation-triangle"
                message="Are you sure you want to proceed?" [style]="{width: '350px'}"
                acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<full-calendar [options]="calendarOptions" [events]="eventsPromise | async">
</full-calendar>
