<p-button label="Add Recipe Plan" (click)="openRecipeDialog()"></p-button>
<p-toast position="top-right"></p-toast>

<p-dialog header="Select a Recipe" [(visible)]="displayRecipeDialog" [modal]="true" [responsive]="true"
    [style]="{ 'min-width': '350px', 'width': '500px' , 'height': '600px' }">
    <div *ngIf="!userSelectedDate" style="margin-bottom: 50px;" class="mb-2">
        <div class="mb-2"><label [style]="{ 'letter-spacing':' 0.5px',' font-size': 'medium' ,'font-family':'sans-serif'}" for="datePicker">Select a date:</label></div>
        <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="selectedDate"
            [style]="{ 'width': '100%' }"></p-calendar>
    </div>

    <div class="recipe-dropdown">

        <div class="mb-2"><label for="recipeSelect" [style]="{ 'letter-spacing':' 0.5px',' font-size': 'medium' ,'font-family':'sans-serif'}">Select a recipe:</label></div>
        <p-autoComplete id="recipeAutoComplete" [(ngModel)]="selectedRecipe" [suggestions]="recipes"
            (completeMethod)="filterRecipes($event)" field="title" [dropdown]="true"
            [style]="{ 'width': '100%' }"></p-autoComplete>
        <div *ngIf="userSelectedDate" style="height: 50px;">
        </div>
    </div>
    <div class="flex flex-column mt-5 text-lg gap-2 mb-3">
        <strong>Note:</strong>
        <p class="text-900"><span [style]="{ 'color': 'gray','font-size': 'medium'}">● </span> You Will added recipe to your meal plan. You can also add ingredients of recipe to shopping
            list</p>
        <p class="text-900"><span [style]="{ 'color': 'gray','font-size': 'medium'}">● </span> Enjoy preparing and savoring this delightful meal! If you have any dietary preferences or allergies, don't forget to make necessary substitutions.</p>
        <p>Happy cooking!. ❤️</p>
    </div>
    <div [style]="{'height': '70px' }" class="flex justify-content-end align-items-end">
        <p-button (click)="onRecipeSelected()" style="  right: 0px;">OK</p-button>
    </div>

</p-dialog>

<p-dialog header="Select New Date" [(visible)]="displayEditdate" [modal]="true" [responsive]="true"
    [style]="{ 'min-width': '300px', 'width': '475px' , 'height': '525px' }">
    <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="newSelectedDate"
        [style]="{ 'width': '100%' }"></p-calendar>
    <div class="flex flex-column mt-5 text-lg gap-2 mb-3"  [style]="{ 'letter-spacing':' 0.5px',' font-size': 'medium' ,'font-family':'sans-serif'}">
        <strong>Note:</strong>
        <p class="text-900"><span [style]="{ 'color': 'gray','font-size': 'medium'}">● </span> Will added recipe to your meal plan. You can also add ingredients of recipe to shopping
            list</p>
        <p class="text-900"><span [style]="{ 'color': 'gray','font-size': 'medium'}">● </span> Enjoy preparing and savoring this delightful meal! If you have any dietary preferences or allergies, don't forget to make necessary substitutions.</p>
        <p>Happy cooking!. ❤️</p>
    </div>
    <div [style]="{'height': '100px' }" class="flex justify-content-end align-items-end">
        <p-button (click)="onEditing()" style="  right: 0px;">OK</p-button>
    </div>
</p-dialog>

<div>
    <p-dialog header="Select Option" [(visible)]="displayeditdeleteDialog" [modal]="true" [responsive]="true"
        [style]="{ 'width': '500px' , 'height': '200px' }">
        <div class="flex align-items-center justify-content-center flex-wrap " style="height:100%;">
            <button pButton pRipple label="Edit" [style]="{ 'height': '40px','width':'100px' }" icon="pi pi-cog"
                class="p-button-success mr-2" (click)="onClick()"></button>
            <button pButton pRipple label="Add to Shopping" [style]="{ 'height': '45px','width':'200px' }"
                icon="pi pi-shopping-bag" class="p-button-warning mr-2" (click)="addShopping()"></button>
            <button type="text" (click)="confirm1()" pButton icon="pi pi-trash" label="Delete" class="p-button-danger"
                style="width:auto;"></button>
        </div>
    </p-dialog>

</div>
<p-confirmDialog header="Confirmation" key="confirm1" icon="pi pi-exclamation-triangle"
    message="Are you sure you want to proceed?" [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<full-calendar [options]="calendarOptions" [events]="eventsPromise | async">
</full-calendar>
