<div class="p-5 flex flex-column align-items-center justify-content-center">
        <h5>Change Your Password</h5>
        <div>
             <label for="oldpassword" class="block text-900 text-xl font-medium mb-2">Old password</label>
                    <p-password id="oldpassword" [feedback]="false" [(ngModel)]="oldPassword" placeholder="old Password" [toggleMask]="true" styleClass="mb-3" inputStyleClass="w-full p-3 md:w-25rem" [ngClass]="{'ng-invalid ng-dirty': error[0]}" ></p-password>

                    <p  *ngIf="error[0]" class="error">Old password is required</p>
            <p-overlayPanel #op>
                        <div class=" mb-2 " *ngFor="let item of feedbackArr">
                        <i class="fa" [ngClass]="item.status?'pi pi-check-circle success' : 'pi pi-times error'"></i> {{item.label}}
                        </div>
                    </p-overlayPanel>
                    <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>

                    <p-password id="password1" (onFocus)="op.toggle($event)" [feedback]="false" [(ngModel)]="password" placeholder="Password" [toggleMask]="true" styleClass="mb-3" inputStyleClass="w-full p-3 md:w-25rem" [ngClass]="{'ng-invalid ng-dirty': error[1]}" (input)="checkPasswordStrength()"></p-password>
                    <p *ngIf="error[1]" class="error">Password is invalid</p>
                    <label for="password2" class="block text-900 font-medium text-xl mb-2">Confirm Password</label>
                    <p-password id="password2" [feedback]="false" [(ngModel)]="confirmPassword" placeholder="Confirm Password" [toggleMask]="true" styleClass="mb-3" inputStyleClass="w-full p-3 md:w-25rem" [ngClass]="{'ng-invalid ng-dirty': error[2]}"></p-password>
                    <p *ngIf="error[2]" class="error">Password is not the same </p>
                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                            <div class="error">{{errorMessage}}</div>
                    </div>
            <button pButton label="Submit" (click)="onSubmit()" ></button>
        </div>
</div>
