<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2 ">
                        <h4>My Recipes</h4>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="my-2 ">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            routerLink="/addRecipe"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <div class="col-12 ">
                <div class="grid">
                    <div class="col-12 md:col-4" *ngFor="let recipe of recipes">
                        <div class="card mb-0">
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <div class="flex justify-content-between align-content-center flex-wrap">
                                    <h4>{{ recipe.title }}</h4>
                                    </div>
                                    <div class="block text-500 font-medium mb-3">{{ recipe.description.slice(0,150) }}</div>
                                    <div class="flex flex-row-reverse">
                                    <button  (click)="viewdetails(recipe)" pButton
                                    pRipple>See more</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>


        </div>

    </div>
</div>
