<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2 ">
                        <h4>My Recipes</h4>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="my-2 ">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            routerLink="/addRecipe"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <div class="col-12 md:col-8">
                <div class="grid">
                    <div class="col-12 md:col-6" *ngFor="let recipe of recipes">
                        <div class="card mb-0">
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <span class="text-900 font-medium text-xl">{{ recipe.title }}</span>
                                    <div class="block text-500 font-medium mb-3">{{ recipe.description }}</div>
                                </div>
                            </div>
                            <span class="text-500" style="float: left;"><button (click)="viewdetails(recipe)" pButton
                                    pRipple>See more</button></span>
                            <!-- <button style="float: right;" pButton pRipple label="Edit" icon="pi pi-plus"
                                class="p-button-success mr-2" routerLink="/"></button>
                            <button style="float: right;" pButton pRipple label="Delete" icon="pi pi-trash"
                                class="p-button-danger"></button> -->
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
