<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                 <ng-template pTemplate="left">
                    <div class="my-2 ">
                        <h4>My Recipes</h4>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" ></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"  ></button>
                    </div>
                </ng-template>
            </p-toolbar>

        </div>
        
    </div>
</div>
